*{
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    margin: 0;
    
}
body{
    background-color: #121417;
    color: hsl(217, 12%, 63%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.card{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color:  #252d37;
    border-radius: 5%;
    padding: 1.8rem;
    transition: 0.5s;
    cursor: default;
}

.faviconContainer{
    height: fit-content;
    width: fit-content;
}

#favIcon{
    background-color: hsl(213, 19%, 21%);
    border-radius: 50%; 
    padding: 1rem;
}

.title {
    font-size: 1.8rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    word-spacing: 1px;
    padding-top: 1.5rem;
}

.detail {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.8rem;
    line-height: 1.5;
}

.rating{
    text-align: center;
    margin-top: 1.5rem;
}
.rating span.click{
    background-color: hsl(25, 97%, 53%);
    color: black;
}
.rating span{
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0.6rem;
    height: 2.2rem;
    width: 2.2rem;
    line-height: 2.35rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: hsl(213, 19%, 21%);
    cursor: pointer;
    transition-duration: 0.6s;
}

span.noLeftMargin{
    margin-left: 0;
}

span.noRightMargin{
    margin-right: 0;
}

.rating span:hover{
    background-color: white;
    color: black;
}
.btn{
    text-align: center;
    
}
button {
    background-color: hsl(25, 97%, 53%);
    font-family: "Overpass", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.7rem 8.6rem;
    border: none;
    border-radius: 20px;
    margin-top: 1.8rem;
    transition-duration: 0.6s;
    cursor: pointer;
}

button:hover{
    background-color: white;
}

.thankYouCard{
    display: grid;
    display: none;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    background-color:  #252d37;
    border-radius: 5%;
    padding: 2.3rem 2rem;
    transition: 0.5s;
    cursor: default;
}

.selectedRatingContainer{
    margin-top: 1.5rem;
}

.selectedRating{
    display: inline-block;
    background-color: hsl(213, 19%, 21%);
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(25, 97%, 53%);
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}

.modalTitle{
    font-size: 1.8rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding-top: 2rem;
}

.modalDetail{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.6rem;
}

.footer{
    padding: 1rem;
}


